extends layout

block append head
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/demo.css")
    link(rel="stylesheet" href="/css/component1.css")

block content
  .container
    .section
        #infoPanel.margin-top-100px.text-center
            .row
                .col-md-3
                .col-md-3.mileage
                    .circle.background-white.font-red
                        .withUnit.padding-top-10px
                            span.number= 'Sun'
                        .label.padding-top-neg10px= '19/11/2017'
                .col-md-3.something
                    .circle.background-red
                        .withUnit.padding-top-21px
                            span.number.time-display= '2:32'
                            span= 'pm'
                        .label= 'Time'
                .col-md-3
    .section
        #userProfile.text-center.margin-top-60px
            h1= "Hi John, how are you doing today"

    .section
        #infoPanel.margin-top-60px.text-center
            .row
                .col-md-3
                .col-md-3.mileage
                    .circle.background-red
                        .withUnit.padding-top-10px
                            span.number= 33
                            span= 'L'
                        .label.padding-top-neg10px= 'Remaining Fuel'
                .col-md-3.something
                    .circle.background-white.font-red
                        .withUnit.padding-top-10px
                            span.number= 3
                            span= '°C'
                        .label.padding-top-neg10px= 'Cloudy'
                .col-md-3

    include ./navigationMenu.jade